* {
  padding: 0%;
  margin: 0%;
}

.navbar {
  border: 2px solid #ffbb00;
}

.boxHome1 {
  background-color: #262722;
  padding-top: 5px;
}

.boxHome1 img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 2px solid #ffbb00;
  border-radius: 10px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.boxHome1 img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h2 {
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5px;
}

p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.boxHome2 {
  background-color: #262722;
  padding-top: 5px;
}

.boxHome3, .boxHome4, .boxHome5 {
  width: 100%;
  background-color: #262722;
  padding-top: 5px;
}

.boxHome3 img, .boxHome4 img, .boxHome5 img {
  width: 100%;
  height: 500px;
  border: 2px solid #ffbb00;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.boxHome3 img:hover, .boxHome4 img:hover, .boxHome5 img:hover {
  -webkit-transform: perspective(150px) rotateX(5deg);
  transform: perspective(150px) rotateX(5deg);
}

.boxHome4.img {
  width: 100%;
  height: 500px;
  border: 2px solid #ffbb00;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.boxHome4.img:hover {
  -webkit-transform: perspective(150px) rotateX(5deg);
  transform: perspective(150px) rotateX(5deg);
}

.boxHome5.img {
  width: 100%;
  height: 500px;
  border: 2px solid #ffbb00;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.boxHome5.img:hover {
  -webkit-transform: perspective(150px) rotateX(5deg);
  transform: perspective(150px) rotateX(5deg);
}

body {
  background-color: #262722;
}

.boxAutos-black {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #262722;
  height: 1020px;
  width: 50%;
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boxAutos-red {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #262722;
  height: 1020px;
  width: 75%;
  border: 2px solid red;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boxAutos-green {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #262722;
  height: 1020px;
  width: 100%;
  border: 2px solid green;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boxAutos-black img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #ffbb00;
  border-radius: 10px;
}

.boxAutos-red img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #ffbb00;
  border-radius: 10px;
}

.boxAutos-green img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #ffbb00;
  border-radius: 10px;
}

.boxNos {
  overflow: auto;
  height: 800px;
  width: 100%;
  background-color: #262722;
  border: 2px solid #ffbb00;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

iframe {
  width: 100%;
  height: 350px;
  -o-object-position: center;
     object-position: center;
}

.boxNos:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.logos {
  color: #00acfc;
  font-size: 60px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  margin-left: 60px;
  margin-right: 60px;
}

.redes {
  text-align: center;
}

.logos:hover {
  color: rgba(25, 25, 221, 0.863);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.menuNav a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  font-size: 35px;
  text-align: center;
  color: #00acfc;
  margin-left: 50px;
  margin-right: 50px;
}
/*# sourceMappingURL=estilo.css.map */